.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    --slot-size: 0px;
}

.board-display {
    position: relative;
}

.board-slots {
    position: absolute;
    z-index: calc(var(--columns) * var(--rows) * 2 + 1);
}

.board-shift-enter {
    position: absolute;
    transform: translateX(0%);
  }
  .board-shift-enter-active {
    transform: translateX(var(--nav-size));
    transition: all var(--speed) ease;
  }
  .board-shift-primary-exit {
    position: absolute;
  }
  .board-shift-exit-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

table { 
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 0; 
    margin: 0;
}

td div {
    width: var(--slot-size);
    height: var(--slot-size);
}