button.input-counter {
    background: rgb(255, 255, 255);
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
    border: none;
    outline:none;
    opacity: 0;
    transition: opacity 100ms;
}

button.input-counter:hover {
    opacity: 1;
    transition: opacity 100ms;
}