.match-password form input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
}

.match-password button {
    margin: 10px
}

.match-password form input {
    max-width: 100px;
}