.nav-item {
    width: calc(var(--nav-size) * 0.8);
    height: calc(var(--nav-size) * 0.8);
    fill: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 5px;
}
