body {
    margin: 0;
    position: fixed; 
    overflow: hidden;
    width: 100%;
}

:root {
    --rows: 10;
    --columns: 12;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }