.navbar {
    width: var(--nav-size);
    height: 100vh;
    background-color: var(--bg-primary);
    padding: calc(var(--nav-size) * 0.25);
    box-sizing: border-box;
}

.navbar-enter {
  opacity: 0;
}

.navbar-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.navbar-exit {
  opacity: 1;
}

.navbar-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}